@Keyframes movimiento{
    from{
        color: black;
        margin-top: 2%;
        width: 10%;
    }
    40%{
        color: blue;
        margin-top: 10%;
        width: 10%;
    }
    70%{
        color: red;
        margin-top: 25%;
        width: 10%;
    }
    90%{
        color:blueviolet ;
        margin-top: 40%;
        width: 10%;
    }
    to{
        color: black;
        margin-top: 2%;
        width: 10%;
    }
}

p{
    text-align: center;
    width: 10%;
}

/* p{
    opacity: 0.3;
    transition: opacity .2s;
} */
/* .opacity1{
    opacity:1;
} */

.keyframes{
    animation-duration: 15s;
    animation-iteration-count: 10;
    animation-name: movimiento; 
}

.transform{
    transition-duration: 3s;
}

.transform:hover{
    background-color: red;
    border-radius: 1px solid black;
    color:white;
    transform: translate(60px);
}